<?xml version="1.0" encoding="UTF-8"?>
<openerp>
    <data>

        <menuitem id="menu_root" sequence="10" name="Open Academy"/>

        <menuitem id="menu_group" parent="menu_root" name="Open Academy"/>

        <record id="action_courses" model="ir.actions.act_window">
            <field name="name">Courses</field>
            <field name="res_model">openacademy.course</field>
            <field name="view_mode">tree,form</field>
			<field name="context">{'search_default_my_courses': 1}</field>
			<field name="help" type="html">
				<p class="oe_view_nocontent_create">A nice arrow with some help for your first record</p>
			</field>
        </record>

        <menuitem id="menu_courses" parent="menu_group" sequence="10"
            action="action_courses"/>


        <record id="action_sessions" model="ir.actions.act_window">
            <field name="name">Sessions</field>
            <field name="res_model">openacademy.session</field>
            <field name="view_mode">tree,form,calendar</field>
        </record>

        <menuitem id="menu_sessions" parent="menu_group" sequence="20"
            action="action_sessions"/>

    </data>
</openerp>